*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container{
    max-width: 1252px;
    padding: 0px 10px;
}

li,ul,a,h1,h2,h3,h4,p{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}

.section_paddding{
    padding: 36px 0px;
}

.section_title{
    margin-bottom: 36px;
}

.section_title_heading{
    font-size: 30px;
    color: #00394d;
    font-weight: 700;
    text-align: center;
}

.section_title_text{
    max-width: 916px;
    margin: 0px auto;
    text-align: center;
    color: #404040;
    font-size: 16px;
    margin-top: 0.75rem;
}

.veiw_faq_btn{}
.veiw_faq_btn a{
    display: block;
    height: 40px;
    width: 126px;
    display: grid;
    place-content: center;
    color: #00394d;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid #00394d;
    border-radius: 3px;
    font-weight: 700;
    margin: 0px auto;
}

.veiw_faq_btn a:hover{
    background-color: #F2F2F2;
    text-decoration: underline;
}