
@media(min-width: 570px){
    .banner_title{
        font-size: 3rem;
    }
}

@media(min-width: 767px){
    .faq_heading{
        font-size: 1.875rem;
    }

    .section_paddding{
        padding: 56px 0px;
    }

    .section_title{
        margin-bottom: 56px;
    }

    .banner_section_content_title {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    .compare_section_content_title{
        margin-bottom: 2rem;
     }

     .compare_section_content_heading{
        font-size: 1.375rem;
     }

     .service_item_content{
        margin-left: 1.5rem;
        margin-top: 0px;
     }

     .service_section_item:not(:last-child){
        margin-bottom: 3rem;
     }

     .support_section{
        padding: 5rem 0px;
    }

    .suport_list_content ul li {
        width: calc(50% - 14px);
    }

    .learn_section_content{
        margin-top: 0px;
        margin-left: 20px;
    }

    .marketplace_section_wrapper{
        grid-template-columns: repeat(3, 1fr);
        gap: 88px;
    }
     
    .marketplace_section_item_line::after{
        display: block;
    }
}

@media(min-width: 991px){

    .faq_section_content {
        padding: 0px 40px;
    }

    .banner_contact_form{
        padding: 3em;
    }

    .banner_section_content_title {
        font-size: 3rem;
    }

    .service_item_content{
        margin-left: 2rem;
     }
}

@media(min-width: 1200px){
    .service_item_content{
        margin-left: 3rem;
     }
}